* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgb(194, 194, 194)
}

.container {
  max-width: 1000px;
  min-height: 100vh;
  margin: 0 auto;
  background: #eee;
  padding: 30px;
}

.posts-container {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
   gap: 30px;

}

.post {
   background: #fff;
   box-shadow: 0 0 10px rgba(0,0,0,0.2);
   border-radius: 8px;
   transition: transform 250ms ease-in-out;
}
.post:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.post img {
  max-width: 100%;
}

.post-texts {
   padding: 30px;
}

button {
  width: 50%;
  height: 40px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  background: rgb(185, 54, 218);
  border: none;
  margin-top: 20px;
  margin-left: 25%;
}

button:hover {
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  transition: 200ms;
}
button:disabled {
  cursor: not-allowed;
  background-color: rgb(133, 133, 133);
}

input {
  width: 50%;
  height: 40px;
  border: none;
  margin-top: 20px;
  margin-left: 25%;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  border: 2px solid rgb(185, 54, 218);
  padding: 10px;
  margin-bottom: 20px;
}
textarea:focus, input:focus, select:focus {
  outline: 0;
} 

h2 {
 width: 50%;
 margin-left: 25%;
}